# Incluye los archivos sin seguimiento de tu proyecto
# Lee sobre como usar el archivo .gitignore en https://help.github.com/articles/ignoring-files/
# Documentacion de Git en español https://git-scm.com/book/es/v1